@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spin {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotateAnimation 1s infinite linear;
}
